*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header{
    display: flex;
    margin-top: 72px;
    text-align: center;
    margin-right: 210px;
    justify-content: right;
}

header ul{
    display: flex;
}


header a{
    font-size: 18px;
    color: #000000;
    padding: 22px 24px;
    border-radius: 0px 35px 0 35px;
    background-color: #c4c4c4;
    margin-right: 85px;
}

.active{
    background-color: #79B331;
    color: #ffffff;
}

header a:hover{
    background-color: #79B331;
    color: #ffffff;
}

body{
    background-image: url(../IMG/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.charcho{
    width: 420px;
    height: 186px;
    margin-top: 92px;
    /* border: solid; */
    margin-left: 806px;
    right: 212px;
}

.wre{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #79b331;
    animation: moving 3s infinite;
    margin-left: -20px;
    margin-top: -20px;
}

@keyframes moving{
    0%{top: 0; left: 0;}
    25%{top: 0; left: 420px;}
    50%{top: 186px; left: 420px;}
    75%{top: 186px; left: 0px;}
    100%{top: 0; left: 0;}
}

.aqcia{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.saati{
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
}

.xe{
    width: 1062px;
    height: 502px;
    margin-top: 250px;
    margin-left: 336px;
    position: relative;
}

.toti{
    margin: 0 auto;
    width: 0;
    height: 500px;
    border: #c4c4c4 1px solid;
}

.gero{
    width: 70px;
    height: 70px;
    border-radius: 0 35px 0 35px;
    background-color: #c4c4c4;
}
.text{
    width: 330px;
    height: 48px;
    margin-left: 100px;
}

.gero1{
    width: 70px;
    height: 70px;
    border-radius: 35px 0 35px 0 ;
    background-color: #c4c4c4;
}
.text1{
    width: 430px;
    height: 48px;
    margin-left: 80px;
}

.text2{
    width: 430px;
    height: 48px;
}

.text3{
    width: 430px;
    height: 48px;
    margin-left: 80px;
    margin-top: -20px;
}

.mart{
    display: flex;
    width: 500px;
    height: 70px;
    position: absolute;
    right: 50%;
    top: 0;
}

.mart1{
    width: 500px;
    height: 70px;
    margin-top: 54px;
    display: flex;
    position: absolute;
    top: 42px;
    left: 50%;
}

.mart2{
    display: flex;
    width: 500px;
    height: 70px;
    position: absolute;
    top: 200px;
    right: 50%;
}

.mart3{
    width: 500px;
    height: 70px;
    margin-top: 54px;
    display: flex;
    position: absolute;
    top: 254px;
    left: 50%;
}

.mart:hover, .mart1:hover, .mart2:hover, .mart3:hover{
    border: #33CEFF dashed 1px;
    color: #79B331;
    cursor: pointer;
}
